<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini whatsapp</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h2>ALL CHATS</h2>
    <form method="GET"  action="/chats/new"><button class="msg">New chat</button></form>
 <% for (let chat of chats){    %>

    <div class="chatbox">
        <p class="from">from:<%= chat.from %></p>
        <div class="msg"><p>Message:<%= chat.message %></p> 
        <form method="GET"  action="/chats/<%= chat._id %>/edit"><button class="">edit</button></form>
<br>
        <form method="POST"  action="/chats/<%= chat._id %>?_method=DELETE"><button class="">delete</button></form>
    </div>
        <p>Received by:<%= chat.to %></p>
        <p><%= chat.create_at.toString().split(" ")[4] %></p>
        <p><%= chat.create_at.toString().split(" ").slice(0,4).join(" ") %></p>
    </div> <hr>
<% } %>
</body>
</html>
